.footer {
    display: flex;
    align-items: flex-end;
    height: 5rem;
    width: 100%;
}

.footer__left {
    background: var(--very-light-grey);
    padding: 37px 20px;
}

.footer__links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background: grey;
    width: 80%;
    padding: 50px 50px;
    position: relative;
}

.footer__links a {
    margin-right: 50px;
    text-decoration: none;
    color: white;
}

.footer__links a:hover {
    color: black;
    transition: 0.3s ease-in-out;
}

.footer__button {
    text-decoration: none;
    background: var(--very-dark-blue);
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 2rem;
    right: -3rem;
}

.footer__button:hover {
    background: var(--dark-grey);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

/* RESPONSIVE */

@media (max-width: 815px) {
    .footer {
        flex-direction: column;
        align-items: center;
    }

    .footer__button {
        display: block;
    }

    .footer__left {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer__links {
        flex-direction: column;
        justify-content: center;
        width: 100%;
        align-items: center;
    }

    .footer__links a {
        margin: 20px 0;
    }

    .footer__button {
        position: static;
        margin-top: 20px;
    }

    .featured {
        margin-bottom: 70rem;
    }
}