.portfolio__images_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 3rem 0 7rem 0;
}

.featured__image_card {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    min-height: 500px;
    box-shadow: inset 0 0 0 1000px rgba(17, 16, 19, 0.486);
}


.seraph {
    background-image: url('../assets/portfolio/desktop/image-seraph.jpg');
}

.eebox {
    background-image: url('../assets/portfolio/desktop/image-eebox.jpg');
}

.federal {
    background-image: url('../assets/portfolio/desktop/image-federal.jpg');
}

.sol {
    background-image: url('../assets/portfolio/desktop/image-del-sol.jpg');
}

.proto {
    background-image: url('../assets/portfolio/desktop/image-prototype.jpg');
}

.arch {
    background-image: url('../assets/portfolio/desktop/image-228b.jpg');
}

.hotel {
    background-image: url('../assets/portfolio/desktop/image-edelweiss.jpg');
}

.netcry {
    background-image: url('../assets/portfolio/desktop/image-netcry.jpg');
}

.hypers {
    background-image: url('../assets/portfolio/desktop/image-hypers.jpg');
}

.v {
    background-image: url('../assets/portfolio/desktop/image-sxiv.jpg');
}

.trinity {
    background-image: url('../assets/portfolio/desktop/image-trinity.jpg');
}

.paramour {
    background-image: url('../assets/portfolio/desktop/image-paramour.jpg');
}


/* RESPONSIVE */

@media (max-width: 1000px) {
    .portfolio__images_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .seraph {
        background-image: url('../assets/portfolio/tablet/image-seraph.jpg');
    }

    .eebox {
        background-image: url('../assets/portfolio/tablet/image-eebox.jpg');
    }

    .federal {
        background-image: url('../assets/portfolio/tablet/image-federal.jpg');
    }

    .sol {
        background-image: url('../assets/portfolio/tablet/image-del-sol.jpg');
    }

    .proto {
        background-image: url('../assets/portfolio/tablet/image-prototype.jpg');
    }

    .arch {
        background-image: url('../assets/portfolio/tablet/image-228b.jpg');
    }

    .hotel {
        background-image: url('../assets/portfolio/tablet/image-edelweiss.jpg');
    }

    .netcry {
        background-image: url('../assets/portfolio/tablet/image-netcry.jpg');
    }

    .hypers {
        background-image: url('../assets/portfolio/tablet/image-hypers.jpg');
    }

    .v {
        background-image: url('../assets/portfolio/desktop/image-sxiv.jpg');
    }

    .trinity {
        background-image: url('../assets/portfolio/desktop/image-trinity.jpg');
    }

    .paramour {
        background-image: url('../assets/portfolio/desktop/image-paramour.jpg');
    }
}




@media (max-width: 700px) {
    .portfolio__images_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .seraph {
        background-image: url('../assets/portfolio/desktop/image-seraph.jpg');
    }

    .eebox {
        background-image: url('../assets/portfolio/desktop/image-eebox.jpg');
    }

    .federal {
        background-image: url('../assets/portfolio/desktop/image-federal.jpg');
    }

    .sol {
        background-image: url('../assets/portfolio/desktop/image-del-sol.jpg');
    }

    .proto {
        background-image: url('../assets/portfolio/desktop/image-prototype.jpg');
    }

    .arch {
        background-image: url('../assets/portfolio/desktop/image-228b.jpg');
    }

    .hotel {
        background-image: url('../assets/portfolio/desktop/image-edelweiss.jpg');
    }

    .netcry {
        background-image: url('../assets/portfolio/desktop/image-netcry.jpg');
    }

    .hypers {
        background-image: url('../assets/portfolio/desktop/image-hypers.jpg');
    }

    .v {
        background-image: url('../assets/portfolio/desktop/image-sxiv.jpg');
    }

    .trinity {
        background-image: url('../assets/portfolio/desktop/image-trinity.jpg');
    }

    .paramour {
        background-image: url('../assets/portfolio/mobile/image-paramour.jpg');
    }
}